{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Den går rett i nebbet!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success bg-gradient">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'recipe:share' %}">Del en oppskrift</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Mine oppskrifter</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mr-2">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user:logout' %}">Logg ut</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-2 text-white" href="{% url 'api-docs' %}">API dokumentasjon</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'recipe:share' %}">Del en oppskrift</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user:create_user' %}">Opprett en bruker</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mr-2">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user:login' %}">Logg inn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-2 text-white" href="{% url 'api-docs' %}">API dokumentasjon</a>
                    </li>
                </ul>
            {% endif %}
            
        </div>
    </div>
    </nav>

    {% block content %}
        
    {% endblock content %}
    
    <script src="{% static 'js/add_items.js' %}"></script>
</body>
</html>